/* Reseteo de estilos por defecto */
html, body, div, span, h1, h2, h3, p, a, ul, li, table {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}  

body {
    display: flex;
    flex-direction: column;
    position: relative;
}

.background {
    /* background-image: url('./assets/cloud.jpg'); */
}

.alt-background {
    /* background-image: url('./assets/pexels-andy-vu-3244513.jpg'); */
    background-color: black;
}

.background, .alt-background {
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    filter: grayscale(100%);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    transition: opacity 0.5s;
    z-index: -1;
    position: fixed;
}

.hide-back {
    opacity: 0;
}

* {
    font-family: "Oswald", sans-serif;
}

:root {
    --padding-section: 60px;
    --padding-up-down-mobile: 50px;
    --padding-content: 30px;
    --font-content: 25px;
    --main-color-1: #30AFFF;
    --main-color-2: #0046FF;
    --main-color-3: #112E81;
    --main-color-4: #FF3F7F;
    --main-color-5: #91008D;
    --main-color-6: #30AFFF;
    --section-bg-light-color-1:rgba(187, 222, 251, 0.8);
    --section-bg-light-color-2:rgba(111, 0, 255, 0.8);
    --section-bg-dark-color-1:rgba(47, 47, 228, 0.8);
    --section-bg-dark-color-2:rgba(71, 19, 150, 0.8);
}
